PRODUCTION=1
DEBUG=0
LOG_LEVEL=INFO
LAZY_LOAD=1
ENABLE_VIEW_COMPRESSION=1
RENDER_EXCEPTION_STACK=0

USE_SESSION=1
SESSION_PERMANENT=0
SESSION_TYPE=filesystem

USE_MEMORY=1

USE_SQLITE=1
SQLITE_DB_PATH=./sqlite.db

USE_GOOGLE_OAUTH2=
GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
GOOGLE_OAUTH2_SCOPES=

# App Env's
APP_REDIRECT_HOST_BASE=http://localhost:8080
GOOGLE_API_KEY=
