PRODUCTION=0
DEBUG=0
LOG_LEVEL=INFO
LAZY_LOAD=1
ENABLE_VIEW_COMPRESSION=0
RENDER_EXCEPTION_STACK=1

USE_SESSION=1
SESSION_PERMANENT=0
SESSION_TYPE=filesystem

USE_POSTGRES=0
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_DBNAME=

USE_GOOGLE_OAUTH2=
GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
GOOGLE_OAUTH2_SCOPES=

# App Env's
APP_REDIRECT_HOST_BASE=
GOOGLE_API_KEY=
