<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adicionar investimento | Investment Manager</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  </head>
  <body>
    <header class="border-bottom">
      <nav class="navbar navbar-expand-lg py-3">
        <div class="container px-5">
          <a class="navbar-brand" href="/"><span class="fw-bolder">Investment Manager</span></a>

          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.picture }}" alt="{{ user.name }}" width="32" height="32" class="rounded-circle">
            </a>

            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" href="/auth/logout">Sair</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="pt-5">
      <div class="container">
        <div class="d-flex flex-row gap-1">
          <a class="text-dark" href="/investment/dashboard"><h3><i class="bi bi-arrow-left"></i></h3></a>
          <h3>Adicionar investimento:</h3>
        </div>
        <div class="container border rounded mt-3 p-4">
          <form method="POST" action="/investment/create">
            <div class="mb-3">
              <label for="name" class="form-label">Nome*</label>
              <input class="form-control" name="name" type="text" required />
            </div>

            <div class="mb-3">
              <label for="source" class="form-label">Origem*</label>
              <select class="form-control" name="source" required>
                {% for investment_source in investment_sources %}
                  <option value="{{ investment_source.id }}">{{ investment_source.name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label for="type" class="form-label">Tipo*</label>
              <select class="form-control" name="type" required>
                {% for investment_type in investment_types %}
                  <option value="{{ investment_type.id }}">{{ investment_type.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <div class="row row-cols-2">
                <div class="col">
                  <label for="invested" class="form-label">Investido*</label>
                  <input class="form-control" name="invested" type="number" step=".01" required />
                </div>

                <div class="col">
                  <label for="total" class="form-label">Total*</label>
                  <input class="form-control" name="total" type="number" step=".01" required />
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row row-cols-2">
                <div class="col">
                  <label for="maturity" class="form-label">Vencimento</label>
                  <input class="form-control" name="maturity" type="date" />
                </div>

                <div class="col">
                  <div class="row row-cols-2">
                    <div class="col">
                      <label for="rentability_type" class="form-label">Tipo de rentabilidade</label>
                      <select class="form-control" name="rentability_type">
                        <option selected="selected" value="None">Nenhum</option>
                        {% for investment_rentability in investment_rentabilities %}
                          <option value="{{ investment_rentability.id }}">{{ investment_rentability.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col">
                      <label for="rentability_number" class="form-label">Rentabilidade %</label>
                      <input class="form-control" name="rentability_number" type="number" step=".01" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
          </form>
        </div>
      </div>
    </main>
  </body>
  <script src="/js/bootstrap.bundle.min.js"></script>
</html>
