<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard | Investment Manager</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  </head>
  <body>
    <header class="border-bottom">
      <nav class="navbar navbar-expand-lg py-3">
        <div class="container px-5">
          <a class="navbar-brand" href="/"><span class="fw-bolder">Investment Manager</span></a>

          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.picture }}" alt="{{ user.name }}" width="32" height="32" class="rounded-circle">
            </a>

            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" href="/auth/logout">Sair</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="pt-5">
      <div class="container">
        <div class="d-flex flex-row justify-content-between">
          <div class="d-flex flex-row gap-2">
            <h3>Investido: R$ {{ invested }}</h3>
            <h3><i class="bi bi-arrow-right"></i></h3>
            <h3> Total: R$ {{ total }}</h3>
            <h3>
              {% if total > invested %}
                <i title="Bom" class="bi bi-graph-up-arrow text-success"></i>
              {% else %}
                <i title="Ruim" class="bi bi-graph-down-arrow text-danger"></i>
              {% endif %}
            </h3>
          </div>
          <div class="d-flex flex-row gap-2">
            <div>
              <a href="/investment/import"><button class="btn btn-primary">Importar</button></a>
            </div>
            <div>
              <a href="/investment/export"><button class="btn btn-primary">Exportar</button></a>
            </div>
            <div>
              <a href="/investment/create"><button class="btn btn-primary">Adicionar</button></a>
            </div>
          </div>
        </div>
        <div id="table" class="mt-3 table-responsive">
          <table class="table table-hover border">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Nome</th>
                <th scope="col">Tipo</th>
                <th scope="col">Vencimento</th>
                <th scope="col">Rentabilidade</th>
                <th scope="col">Investido</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">Opcoes</th>
              </tr>
            </thead>
            <tbody>
              {% for investment in investments %}
                <tr>
                  <td title="{{ investment.fk_source.name }}">
                    <img class="rounded" alt="logo" src="/assets/source_logos/{{ investment.fk_source.logo }}" style="width: 30px; height: 30px;" />
                  </td>
                  {% if investment.name|length > 20 %}
                    <th title="{{ investment.name }}">{{ investment.name[:20] }}...</th>
                  {% else %}
                    <th>{{ investment.name }}</th>
                  {% endif %}
                  <td>
                    <span class="badge" style="background-color: #{{ investment.fk_type.color }};" title="{{ investment.fk_type.name }}">
                      {{ investment.fk_type.code }}
                    </span>
                  </td>
                  <td>{{ investment.maturity or "N/A" }}</td>
                  {% if investment.rentability_id %}
                    {% if investment.rentability_number %}
                      <td>{{ investment.fk_rentability.name }} {{ investment.rentability_number }}%</td>
                    {% else %}
                      <td>{{ investment.fk_rentability.name }}</td>
                    {% endif %}
                  {% else %}
                    <td>N/A</td>
                  {% endif %}
                  <td>R$ {{ investment.invested }}</td>
                  <td>R$ {{ investment.total }}</td>
                  <td>
                    {% if investment.total > investment.invested %}
                      <span class="badge bg-success">Bom</span>
                    {% elif investment.total == investment.invested %}
                      <span class="badge bg-warning text-dark">Neutro</span>
                    {% else %}
                      <span class="badge bg-danger">Ruim</span>
                    {% endif %}
                  </td>
                  <td>
                    <a href="/investment/edit/{{ investment.id }}" class="text-primary" style="text-decoration: none !important;"><i class="bi bi-pencil-square"></i></a>
                    <a href="/investment/delete/{{ investment.id }}" class="ms-2 text-danger" style="text-decoration: none !important;"><i class="bi bi-trash-fill"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
  <script src="/js/bootstrap.bundle.min.js"></script>
</html>
